$primary-color: #312B2B;
$secondary-color: #f3eee7;
$accent-color: #BB0000;
$danger-color: #BB0000;
$text-color: #312B2B;
$background-color: #f8fafc;

$border-radius: 0px;
$border-radius-circle: 100px;

//* color */
$color-100: #000000;
$color-90: #1A1A1A;
$color-75: #404040;
$color-50: #808080;
$color-25: #BFBFBF;
$color-10: #E6E6E6;
$color-white: #FFFFFF;

//* radius */
$radius-sm: 6px;
$radius-md: 9px;
$radius-lg: 12px;
$radius-full: 999px;