@use 'src/variables' as *;

html, body {
  font-family: 'Be Vietnam Pro', sans-serif; 
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.separator {
  width: 100%;
  height: 0;
  border-top: 1px solid #ddd; 
  border-bottom: none;
  margin: 0;
}